.DS_Store
*.local
.idea/
**/.vscode/
*.swp

node_modules/
.pnpm-store/
.pnpm-debug.log
.pnpm-lock.yaml

dist/
**/dist/
**/*.js
**/*.d.ts
!**/src/**/*.d.ts

.cache/
.turbo/
.yarn/
.pnpm-store/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/
**/.nyc_output/

.env.local
.env*.local
.env*.prod
.env*.test
.env*.dev

*.code-workspace

**/node_modules/.ignored
**/node_modules/.modules.yaml
**/node_modules/.pnpm*

Thumbs.db